/* Importações mais simples do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Atributos Globais

#FEFEFE (branco)

#E4BBB7 (Rosa fraco)

#C7817F (rosa vermelho)

#10BEC9 (azulão)

*/
*{ 
    margin: 8px auto;
    padding: 0px;
    box-sizing: border-box;
   /* font-family: 'Roboto', sans-serif; */
   font-size: 15px;
    text-align: center;
}

body{
    background-color: #E4BBB7;
}

/* MENU DA LANDPAGE */
#menu-h ul{
    list-style-type: none;
    background-color: #10BEC9;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 10%;
    font-size: 15px;
    opacity: 70%;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
    height: 15%;
}

#menu-h ul li a:hover{
    background-color: #E4BBB7 ;
    height: 15%;
    opacity: 50%;
}

/* Home - Carrosel */

#Home{
    background: #E4BBB7 ;
    width: 875px;
    height: 300px;
    outline: 3px solid black;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}

#Home ul{
    display:  flex;
    list-style: none;
    width: 1000px;
    height: 250px;
    text-align: unset;
    background-color: #E4BBB7;
    padding: 0;
}
#Home ul li{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;
}

#Home li{
    padding: 0px;
    position: relative;
    left: -800px;
    animation: slide 15s infinite ease-out;
}

#Home ul li img {
    width: 800px;
    height: 250px;
}

/*Sobre*/

#Sobre{
    background: #FEFEFE ;
    
}

#Sobre h1{
    font-size: 600%;
}

#Sobre h2 {
    font-size: 150%;
}

/* Produtos */

#Produtos{
    background: #a6d427 ;
    margin: 0;
    padding: 0;
    font-family: Helvetica;

    width: 90%;
    margin: auto;
    align-items: center;
}

#Produtos h1{
    font-size: 600%;
}

#Produtos .conteudo{
    width: 30%;
    background: black;
    border-radius: 20px;
    margin: 5px;
    float: left;
    margin-top: 8%;
    text-align: center;
}

#Produtos .conteudo h1{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

#Produtos .conteudo a{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

#Produtos .conteudo a:hover{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
    color: rgb(163, 50, 50);
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

#Produtos .preço{
    width: 120px;
    height: 150px;
    margin: 5% auto 0 auto;
    text-align: center;
}

#Produtos .preço h2 {
    font-size: 40px;
    color: white;
}

#Produtos .detalhes {
    margin: -50px;
}

#Produtos .detalhes h4{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
}


/* Contato */

#Contato{
    background: #7f8c8d;
}


/* Animação Do Carrosel */
@keyframes slide{

    0%{
        left: 0px;
    }

    20%{
        left: 0px;
    }
    

    30%{
       left: -1000px;
    }

    50%{
        left: -1000px;
    }

    60%{
        left: -2000px;
    }

    90%{
        left: -2000px;
    }

    100%{
        left: 0px;
    }
}

/* Responsividade */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
}